{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Choose Your Courses</legend>
                <div class="form-group">
                    {{ form.faculty.label(class="form-control-label") }}
                    {% if form.faculty.errors %}
                        {{ form.faculty(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.faculty.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.faculty(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.department.label(class="form-control-label") }}
                    {% if form.department.errors %}
                        {{ form.department(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.department(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.level.label(class="form-control-label") }}
                    {% if form.level.errors %}
                        {{ form.level(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.level.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.level(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.courses.label(class="form-control-label") }}
                    {% if form.courses.errors %}
                        {{ form.courses(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.courses.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.courses(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            
        </form>
       
    </div>
{% endblock content %}